$zvm-doc-black: #333;
$zvm-doc-blue: #2d8cf0;
$zvm-doc-text-color: #34495e;
$zvm-doc-text-light-blue: rgba(69, 90, 100, .6);
$zvm-doc-grey: #999;
$zvm-doc-dark-grey: #666;
$zvm-doc-light-grey: #ccc;
$zvm-doc-border-color: #f1f4f8;
$zvm-doc-code-color: #455a64;
$zvm-doc-code-background-color: #f1f4f8;
$zvm-doc-padding: 40px;
$zvm-doc-row-max-width: 1440px;

$zvm-doc-nav-width: 240px;

/* header */
$zvm-doc-header-top-height: 60px;
$zvm-doc-header-bottom-height: 50px;

/* simulator */
$zvm-doc-simulator-width: 360px;
$zvm-doc-simulator-small-width: 320px;
$zvm-doc-simulator-height: 620px;
$zvm-doc-simulator-small-height: 560px;
